{% extends "base_generic.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}

    <div class="container m-3">
    {% if political_parties_list %}
        <ul>
            <div class="row">
                {% for political_party in political_parties_list %}
                    <div class="card m-3" style="width: 18rem;">
                        <!--
                        <img src="..." class="card-img-top" alt="...">
                        -->
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ political_party.name }}</h5>
                            <p class="card-text">To-Do.</p>
                            <a href="{% url 'political_parties:detail' political_party.id %}" class="btn btn-primary mt-auto">Detalhes</a>
                        </div>
                      </div>
                {% endfor %}
            </div>
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    </div>

{% endblock %}